<ion-content [fullscreen]="true" class="ion-padding content-background">

  <!-- Header ahora dentro de ion-content -->
  <ion-header>
    <ion-toolbar class="titulo">
      <h1>¡Bienvenido!</h1>
    </ion-toolbar>
  </ion-header>

  <div class="main-container">

    <!-- Logo y slogan -->
    <div class="logo-container">
      <img src="../../../../assets/icon/taxi.png" alt="Logo Mi Colectivo" class="app-logo pulse-animation" />
      <h2 class="app-slogan">Tu transporte, a un toque</h2>
    </div>

    <!-- Login -->
    <ion-card class="login-card slide-up">
      <ion-card-header class="card-header">
        <ion-card-title class="card-title">
          <ion-icon name="key"></ion-icon>
          Iniciar Sesión
        </ion-card-title>
        <ion-card-subtitle>Ingresa tus credenciales</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form (ngSubmit)="login()" class="login-form">
          <ion-item lines="full">
            <ion-label position="floating">
              <ion-icon name="person" slot="start"></ion-icon>
              Correo o Usuario
            </ion-label>
            <ion-input [(ngModel)]="credentials.username" name="username" required></ion-input>
          </ion-item>

          <ion-item lines="full">
            <ion-label position="floating">
              <ion-icon name="lock-closed" slot="start"></ion-icon>
              Contraseña
            </ion-label>
            <ion-input [(ngModel)]="credentials.password" name="password" type="password" required></ion-input>
          </ion-item>

          <ion-button expand="block" type="submit" class="login-button">
            <ion-icon slot="start" name="log-in"></ion-icon>
            Ingresar
          </ion-button>

          <div class="forgot-password">
            <a href="#" class="forgot-link">¿Olvidaste tu contraseña?</a>
          </div>
        </form>

        <div class="register-link">
          <ion-button fill="clear" [routerLink]="['/register']">
            ¿Eres nuevo? Regístrate aquí
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Ver Mapa -->
    <ion-button expand="block" fill="outline" [routerLink]="['/mapa-colectivos']" class="driver-button">
      <ion-icon slot="start" name="map"></ion-icon>
      Ver mapa
    </ion-button>

    <!-- Info -->
    <div class="app-info">
      <ion-button fill="clear" class="info-button">
        <ion-icon name="information-circle" slot="start"></ion-icon>
        Conoce más sobre nuestra app
      </ion-button>
    </div>

  </div>
</ion-content>
