ion-content {
    background-color: #7d7d7d;
  }

.ion-padding{
    text-align: center;
}

ion-button {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 40%;
    padding: 12px;
    font-size: 140px;
}